h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { top: 28px; left: 68px; }
/* Insert CSS for arms below this line*/

/* Insert CSS for ears below this line*/

/* Insert CSS for eyes below this line*/

/* Insert CSS for mouth below this line*/

/* Insert CSS for nose below this line*/

/* Insert CSS for eyebrows below this line*/

/* Insert CSS for glasses below this line*/

/* Insert CSS for hat below this line*/

/* Insert CSS for arms below this line*/

/* Insert CSS for moustache below this line*/
#moustache_image { top: 130px; left:88px;
transform:rotate(180deg);}
/* Insert CSS for shoes below this line*/

/* Insert CSS for cane below this line*/

/* Insert CSS for earrings below this line*/

/* Insert CSS for arms below this line*/

/* Insert CSS for hatflower below this line*/

/* Insert CSS for boosters below this line*/
#toggle{
	position:absolute;
	top:400px; left:125px;
	background-color:blue;
	color:white;
	border:none;
	width:30%;
	height:10%;
}

#btrigger{
  position:absolute;
  top:400px; left:225px;
  background-color:green;
  color:white;
  border:none;
  width:30%;
  height:10%;  
}

.ColorC{
 animation:BC 8s infinite;
 animation-direction:alternate;
 transform:scale(1.2);
}



  @keyframes BC {
    from{background-color:red;}
    20%{background-color:yellow;}
    40%{background-color:cyan;}
    60%{background-color:purple;}
    80%{background-color:brown;}
    to{background-color:green;}
  }

















